@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #222;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-align:center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.announcement {
	color: white;
	font-size: 64px;
}
