* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.center {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	   -moz-transform: translateY(-50%) translateX(-50%);
	        transform: translateY(-50%) translateX(-50%);
}

.evil {
	cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.announcement {
	font-size: 64px;
	text-transform: uppercase;
	-webkit-animation: scale-in-out 2s forwards;
		 -moz-animation: scale-in-out 2s forwards;
	        animation: scale-in-out 2s forwards;
	opacity: 0;
}

.announcement span {
	font-weight: 700;
}

#background {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	-webkit-animation: scale-in 1s forwards;
		 -moz-animation: scale-in 1s forwards;
	        animation: scale-in 1s forwards;
	-webkit-animation-delay: 1.5s;
	   -moz-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}

@-webkit-keyframes scale-in-out {
	from {
		-webkit-transform: translateX(-50%) translateY(-50%);
			 -moz-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		-webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
		   -moz-transform: translateX(-50%) translateY(-50%) scale(1.1);
		        transform: translateX(-50%) translateY(-50%) scale(1.1);
		opacity: 0;
	}
}
@-webkit-keyframes scale-in {
	from {
		-webkit-transform: scale(0.9);
		   -moz-transform: scale(0.9);
			      transform: scale(0.9);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}
}
